<!DOCTYPE html>
<html>
<head>
  <title>CompPoster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <ul class="nav navbar-nav pull-right">
        <li><%= image_tag current_user.image_url, alt: current_user.name %></li>
        <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
<% end %>
<%= render 'shared/flashes' %>
<%= yield %>

</body>
</html>
